    <table summary="Team form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Nickname</th>
        <td><%= f.text_field(:nickname) %></td>
      </tr>
      <tr>
        <th>Seed</th>
        <td><%= f.text_field(:seed) %></td>
      </tr>
      <tr>
        <th>Region</th>
        <td><%= f.text_field(:region) %></td>
      </tr>
    </table>
