<% @page_title = "Create Pick"%>
<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="pick new">
  <h2>Create Pick</h2>

  <%= form_for(:draft_pick, :url => {:action => 'create'}) do |f| %>
  <%= render(:partial => 'form',:locals => {:f => f})%>      
    <div class="form-buttons">
      <%= submit_tag("Create Pick") %>
    </div>
    
  <% end %>
</div>
